<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>ZCEvents</title>


    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/assets/css/e-commerce.css">

    <link rel="stylesheet" href="~/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/assets/css/lightbox.css">

</head>
<body>
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="Index" class="small-logo">
                        <img src="assets/images/zc-logo2.png" style="width: 100px; height: auto;" class="center">
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="Index">Home</a>
                        </li>
                        <li>
                            <a href="products">Products</a>
                        </li>
                        <li>
                            <a href="Cart">Cart</a>
                        </li>
                        <li>
                            <a href="Register">Register</a>
                        </li>
                        <li>
                            <a href="Login">Log In</a>
                        </li>                                
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

@RenderBody()


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 style="color: white;">ZCSF</h4>
                <ul>
                    <li>
                        <a href="Index">Home</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Shopping</h4>
                <ul>
                    <li>
                        <a href="products">View Products</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Latest Trends</h4>
                <ul>
                    <li>
                        <a href="https://www.dailycardinal.com/article/2023/10/2023s-top-trends-in-mens-fashion">Men's</a>
                    </li>
                    <li>
                        <a href="https://thevou.com/fashion/current-fashion-trends/">Women's</a>
                    </li>
                    <li>
                        <a href="https://moonpreneur.com/blog/current-trends-for-kids/">Kid's</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help</h4>
                <ul>
                    <li>
                        <a href="contact">Submit a Ticket</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>SWD Project


                </div>
            </div>
        </div>
    </div>
</footer>


<script src="~/assets/js/jquery-2.1.0.min.js"></script>


<script src="~/assets/js/popper.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>


<script src="~/assets/js/owl-carousel.js"></script>
<script src="~/assets/js/accordions.js"></script>
<script src="~/assets/js/datepicker.js"></script>
<script src="~/assets/js/scrollreveal.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script>
<script src="~/assets/js/jquery.counterup.min.js"></script>
<script src="~/assets/js/imgfix.min.js"></script>
<script src="~/assets/js/slick.js"></script>
<script src="~/assets/js/lightbox.js"></script>
<script src="~/assets/js/isotope.js"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
