@page
@model ZCEvents.Pages.Speakers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get to Know Our Speakers</title>
</head>
<body>

<h1>Welcome to "Get to Know Our Speakers" Event</h1>

<!-- Speaker 1 Image -->
<div>
    <h2>Speaker 1</h2>
    <img src="amr abdulwahab.jpg" alt="Speaker 1">
</div>

<!-- Speaker 2 Image -->
<div>
    <h2>Nada Makram</h2>
    <img src="Nada makram.jpg" alt="Speaker 2">
</div>

<!-- Speaker 3 Image -->
<div>
    <h2>Speaker 3</h2>
    <img src="yousef nasser.jpg" alt="Speaker 3">
</div>

</body>
</html>